{% extends "base.html" %}

{% block title %}jpardy | games{% endblock %}

{% block content %}
    <h2 class="underline">My Games</h2>

    {% if games %}
        <table class="bordered_table">
            <tr><th>Game</th><th>Created</th></tr>
            {% for game in games %}
                <tr>
                <td>Game #{{ game.pk }}</td><td>{{ game.create_date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You have no games.</p>
    {% endif %}

    <h2 class="underline">Create New Game</h2>
    <p><a href="/create_game/">Create Game</a></p>
{% endblock %}
