{% extends "base.html" %}
{% load error_summary %}

{% block title %}jpardy | prepare game{% endblock %}

{% block content %}
    <h2 class="underline">Prepare Game</h2>
    <p>First, select the players who will be taking part in this game.</p>
    <p>Next, select the categories you wish to play with. You can use as many 
    as you want, although 5 is the norm.</p>
    <p>Hold the <code>Ctrl</code> key on your keyboard to select multiple 
    players or categories.</p>
    {% if form.errors %}
        <div class="errors">
            <p><strong>Errors were encountered while processing the form.</strong></p>
            {% error_summary form %}
        </div>
    {% endif %}

    <div style="text-align: center">
        {% if form %}
            <form action="" method="post">
                {% csrf_token %}
                <table style="margin: 0 auto; text-align: left;">
                {% for field in form %}
                    <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td></tr>
                {% endfor %}
                </table>
                <input type="submit" value="Create Game"/>
            </form>
        {% else %}
            <p><strong>You don't have any categories yet!</strong></p>
        {% endif %}
    </div>
{% endblock %}
