{% extends "base.html" %}
{% load url from future %}

{% block title %}jpardy -- login{% endblock %}

{% block login %}
<form action="/login/" method="POST">
    {% csrf_token %}
	<table>
        <tr><td colspan="5"><strong>login</strong></td></tr>
		<tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
            <td><input type="submit" value="login"/></td>
		</tr>
		{% if form.errors %}
		<tr>
            <td colspan="5" style="text-align: right;"><strong>Incorrect username/password.</strong></td>
		</tr>
		{% endif %}
	</table>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
