body {
    font-family: sans-serif;
}

#main {
	position: absolute;
	left: 0px;
	bottom: 150px;
    top: 0px;
	width: 100%;
	overflow-y: auto;
    background: url(../images/jpardy_background.png)
}

#main a {
    color: black;
}

#main #nav_container {
    width: 832px;
    margin: 10px auto;
}

#main #nav_container #nav {
    border: 1px solid black;
    background: #cc3300;
    margin: 0;
    padding: 0;
    width: 98px;
    height: 32px;
}

#main #content {
    width: 800px;
    margin: 10px auto;
    border: 1px solid #cc3300;
    padding: 15px;
    background: #ffffff;
}

#footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 150px;
	background: #cc3300;
	font-family: sans-serif;
    border-top: 1px solid black;
}

#footer #status {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #ffffff;
	font-size: small;
}

#footer #status a {
    color: #ffffff;
}

#footer #login {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #ffffff;
}

#footer #logo {
	position: absolute;
	right: 15px;
    bottom: 10px;
	width: 350px;
	height: 131px;
    background: url(../images/jpardy_logo.png);
}

.underline {
    border-bottom: 1px solid black;
}

.bordered_table {
    width: 60%;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid black;
}

.bordered_table td, .bordered_table th, .bordered_table tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#game_board {
    width: 100%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px solid black;
    font-size: large;
}

#game_board td, #game_board th, #game_board tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#game_board a.board_question {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

#game_board a.asked_question {
    text-decoration: line-through;
    color: #777;
    cursor: pointer;
}

#score_board {
    width: 100%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px solid black;
    font-size: small;
}

#score_board td, #score_board th, #score_board tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#score_board td.score {
    width: 50px;
}

#question_area {
    position: relative;
    border: 1px solid black;
    background: #ffeaea;
    text-align: center;
    padding: 0 0 5px 0;
}

#question_area table {
    width: 50%;
    margin: 5px auto;
}

#question_area table td {
    text-align: left;
    vertical-align: top;
    padding: 6px;
}

#question_area table td.special {
    border: 1px solid #cc3300;
    background: #fff;
}

#question_area h3 span {
    color: #cc3300;
}

#question_area #answer_area {
    text-align: left;
    margin: 0;
    width: 100%;
}

#answer_area td {
    vertical-align: middle;
    padding: 0;
}

#already_asked_area {
    position: relative;
    border: 1px solid black;
    background: #ffeaea;
    text-align: center;
    padding: 0 0 5px 0;
}

#already_asked_area h3 span {
    color: #cc3300;
}

#already_asked_area ul {
    list-style-type: none;
}

.correct_button {
    border: 0;
    background: url(../images/green_light_sprites.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}

.correct_button:hover {
    background-position: 0px -16px;
}

.incorrect_button {
    border: 0;
    background: url(../images/red_light_sprites.png);
    background-repeat: no-repeat;
    background-position: top;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}

.incorrect_button:hover {
    background-position: 0px -16px;
}

.disabled_button {
    border: 0;
    background: url(../images/gray_light.png);
    background-repeat: no-repeat;
    background-position: top;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}

.errors {
    text-align: left;
    color: #cc3300;
}

.errors ul {
    list-style-type: square;
}

#pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: #777;
  color: white;
  font-size: 0.95em;
}
