body {
    font-family: sans-serif;
}

#main {
	position: absolute;
	left: 0px;
	bottom: 150px;
    top: 0px;
	width: 100%;
	overflow-y: auto;
    background: url(../images/jpardy_background.png)
}

#main a {
    color: black;
}

#main #nav_container {
    width: 832px;
    margin: 10px auto;
}

#main #nav_container #nav {
    border: 1px solid black;
    background: #cc3300;
    margin: 0;
    padding: 0;
    width: 98px;
    height: 32px;
}

#main #content {
    width: 800px;
    margin: 10px auto;
    border: 1px solid #cc3300;
    padding: 15px;
    background: #ffffff;
}

#footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 150px;
	background: #cc3300;
	font-family: sans-serif;
    border-top: 1px solid black;
}

#footer #status {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #ffffff;
	font-size: small;
}

#footer #status a {
    color: #ffffff;
}

#footer #login {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #ffffff;
}

#footer #logo {
	position: absolute;
	right: 15px;
    bottom: 10px;
	width: 350px;
	height: 131px;
    background: url(../images/jpardy_logo.png);
}

.underline {
    border-bottom: 1px solid black;
}

#category_list {
    width: 60%;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid black;
}

#category_list td, #category_list th, #category_list tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.errors {
    text-align: left;
    color: #cc3300;
}

.errors ul {
    list-style-type: square;
}
