<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jpardy.css" 
        type="text/css" media="screen"></link>
		<title>{% block title %}jpardy{% endblock %}</title>
	</head>
	<body>
		<div id="main">
            {% block main %}
                {% block nav %}
                    {% if user.is_authenticated %}
                        <div id="nav_container">
                            <div id="nav">
                                <a href="/home/"><img src="{{ STATIC_URL}}images/home.png"/></a><a href="/manage/"><img src="{{ STATIC_URL}}images/manage.png"/></a><a href="/games/"><img src="{{ STATIC_URL}}images/play.png"/></a>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                <div id="content">
                {% block content %}
                {% endblock %}
                </div>
            {% endblock %}
		</div>			
		<div id="footer">
			<div id="status">
				{% block status %}
                    {% if user.is_authenticated %}
                        You are logged in as <strong>{{ user.username }}</strong>. <a href="/logout/">Logout</a>
                    {% endif %}
                {% endblock %}
			</div>
			<div id="login">
				{% block login %}{% endblock %}
			</div>
			<div id="logo"></div>
		</div>
	</body>
</html>
