<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jpardy.css" 
        type="text/css" media="screen"></link>
		<title>{% block title %}jpardy{% endblock %}</title>
	</head>
	<body>
		<div id="main">
			{% block main %}{% endblock %}
		</div>			
		<div id="footer">
			<div id="status">
				{% block status %}{% endblock %}
			</div>
			<div id="login">
				{% block login %}{% endblock %}
			</div>
			<div id="logo"></div>
		</div>
	</body>
</html>
